In [2]:
str1= "My name is Tahir Ismail And I m a student of the course named as AIC"

In [6]:
str1_list=str1.split()

In [8]:
str1_list

['My',
 'name',
 'is',
 'Tahir',
 'Ismail',
 'And',
 'I',
 'm',
 'a',
 'student',
 'of',
 'the',
 'course',
 'named',
 'as',
 'AIC']

In [10]:
len_int = len(str1)

In [13]:
len_int #including spaces

68

In [15]:
str1.capitalize()

'My name is tahir ismail and i m a student of the course named as aic'

In [18]:
str1.title()

'My Name Is Tahir Ismail And I M A Student Of The Course Named As Aic'

In [20]:
tuple_str=str1.format()

In [22]:
tuple_str #converts string into args and kargs tuple packing and unpacking concept

'My name is Tahir Ismail And I m a student of the course named as AIC'

In [29]:
new_str1=str1.endswith('AIC') #returns a boolean whether that particular string endwith given string parameter

In [30]:
new_str1

True

In [32]:
str1.casefold() #returns back a string for caseless comparison

'my name is tahir ismail and i m a student of the course named as aic'

In [34]:
str1.lower()#The casefold() method is an aggressive lower() method which convert strings to casefolded strings for caseless matching.
            #The casefold() method is removes all case distinctions present in a string

'my name is tahir ismail and i m a student of the course named as aic'

In [36]:
str1.upper() #converts that into upper cases

'MY NAME IS TAHIR ISMAIL AND I M A STUDENT OF THE COURSE NAMED AS AIC'

In [41]:
str1.count('t') #counts the number of occurences of certain chars and Strings

3

In [56]:
self_centered=str1.center(10) ###########
                              #center() method alligns string to the center by filling paddings left and right of the string.
                              #This method takes two parameters, first is a width and second is a fillchar which is optiona
                              ###########

In [57]:
self_centered

'My name is Tahir Ismail And I m a student of the course named as AIC'

In [62]:
str1.find('z') #finds the index of that occurence which came first 
                #if not find that returns -1 which is the great tool to campare strings :)

-1

In [114]:
s = '   '
s1 = 'Now m adding space between chars  '

In [115]:
s1+s.join(str1)

'Now m adding space between chars  M   y       n   a   m   e       i   s       T   a   h   i   r       I   s   m   a   i   l       A   n   d       I       m       a       s   t   u   d   e   n   t       o   f       t   h   e       c   o   u   r   s   e       n   a   m   e   d       a   s       A   I   C'

In [120]:
str1.index('AIC') #returns the index of certain character or starting of some string

65

In [125]:
str1.encode(encoding='big5',errors='replace') #Encode the string using the codec registered for encoding

b'My name is Tahir Ismail And I m a student of the course named as AIC'

In [127]:
str_digi = '1743865'

In [129]:
str_digi.isdigit() #return a boolean True if all the chars of string is digits

True

In [140]:
str_deci = '1024343'

In [142]:
str_deci.isdecimal()

True

In [146]:
str_num = '3854984b'

In [148]:
str_num.isnumeric()

False

In [150]:
str1.isspace()

False

In [152]:
s.isspace()

True

In [154]:
str1.lstrip() #Return a copy of the string with leading whitespace removed.

'My name is Tahir Ismail And I m a student of the course named as AIC'

In [157]:
str1.isalpha()

False

In [159]:
s.isalpha()

False

In [161]:
s3 ='ABCDEFGHIJKLMNOP'

In [164]:
s3.isalpha() #returns the string if it is Alphanumeric

True